USE [master]
GO
/****** Object:  Database [HappinessCo]    Script Date: 27/03/2026 13:18:28 ******/
CREATE DATABASE [HappinessCo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HappinessCo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HappinessCo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HappinessCo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HappinessCo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HappinessCo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HappinessCo]
GO
/****** Object:  Table [dbo].[eventos]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[ubicacion] [varchar](50) NOT NULL,
	[descripcion] [varchar](300) NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_eventos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[galeria]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[galeria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[idEvento] [int] NOT NULL,
 CONSTRAINT [PK_galeria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GaleriasEventosPasados]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_GaleriasEventosPasados] AS
SELECT 
	g.id AS idGaleria,
	g.titulo AS tituloGaleria,
	g.idEvento,
	e.titulo AS tituloEvento,
	e.fecha AS fechaEvento
FROM galeria g
JOIN eventos e 
ON g.idEvento = e.id
WHERE e.fecha < '2026-02-28';
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favoritos]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favoritos](
	[idUsuario] [int] NOT NULL,
	[idEvento] [int] NOT NULL,
 CONSTRAINT [PK_favorito] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EventosFavoritosUsuario1]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EventosFavoritosUsuario1] AS
SELECT 
	e.*
FROM usuarios u
JOIN favoritos f ON u.id = f.idUsuario
JOIN eventos e ON f.idEvento = e.id
WHERE u.id = 1;
GO
/****** Object:  Table [dbo].[imagenes]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imagenes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[imagen] [varchar](255) NOT NULL,
	[idGaleria] [int] NOT NULL,
 CONSTRAINT [PK_imagenes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ImagenesEvento120126]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ImagenesEvento120126] AS
SELECT i.*
FROM eventos e
JOIN galeria g ON e.id = g.idEvento
JOIN imagenes i ON g.id = i.idGaleria
WHERE e.fecha = '2026-01-12';
GO
/****** Object:  View [dbo].[vw_EventosFavoritosUsuario2Post280226]    Script Date: 27/03/2026 13:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_EventosFavoritosUsuario2Post280226] AS
SELECT e.*
FROM eventos e
JOIN favoritos f ON e.id = f.idEvento
JOIN usuarios u ON f.idUsuario = u.id
WHERE u.id = 2
AND fecha > '2026-02-28';
GO
SET IDENTITY_INSERT [dbo].[eventos] ON 

INSERT [dbo].[eventos] ([id], [titulo], [ubicacion], [descripcion], [fecha]) VALUES (1, N'Taller de Costura', N'Jardín Botánico', N'Taller de iniciación a la costura en plena naturaleza', CAST(N'2026-01-01' AS Date))
INSERT [dbo].[eventos] ([id], [titulo], [ubicacion], [descripcion], [fecha]) VALUES (2, N'Festival de Cortos', N'Antigua escuela de Comercio', N'Finalistas internacionlaes del concurso de cortos', CAST(N'2026-01-12' AS Date))
INSERT [dbo].[eventos] ([id], [titulo], [ubicacion], [descripcion], [fecha]) VALUES (3, N'Charla LGTBIQ+', N'Centro Cultural', N'Aprende sobre inclusión, derechos y experiencias de la comunidad LGBTIQ+', CAST(N'2026-01-24' AS Date))
SET IDENTITY_INSERT [dbo].[eventos] OFF
GO
INSERT [dbo].[favoritos] ([idUsuario], [idEvento]) VALUES (1, 1)
INSERT [dbo].[favoritos] ([idUsuario], [idEvento]) VALUES (1, 2)
INSERT [dbo].[favoritos] ([idUsuario], [idEvento]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[galeria] ON 

INSERT [dbo].[galeria] ([id], [titulo], [idEvento]) VALUES (1, N'Galería de Fotos | Taller de Costura', 1)
INSERT [dbo].[galeria] ([id], [titulo], [idEvento]) VALUES (2, N'Galería de Fotos | Festival de Cortos', 2)
INSERT [dbo].[galeria] ([id], [titulo], [idEvento]) VALUES (3, N'Galería de Fotos | Charla LGTBIQ+', 3)
SET IDENTITY_INSERT [dbo].[galeria] OFF
GO
SET IDENTITY_INSERT [dbo].[imagenes] ON 

INSERT [dbo].[imagenes] ([id], [titulo], [imagen], [idGaleria]) VALUES (1, N'Imagen 1 Evento 1', N'imagen1_evento1.jpg', 1)
INSERT [dbo].[imagenes] ([id], [titulo], [imagen], [idGaleria]) VALUES (2, N'Imagen 2 Evento 1', N'imagen2_evento1.jpg', 1)
INSERT [dbo].[imagenes] ([id], [titulo], [imagen], [idGaleria]) VALUES (3, N'Imagen 3 Evento 1', N'imagen3_evento1.jpg', 1)
SET IDENTITY_INSERT [dbo].[imagenes] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [nombre], [password], [email]) VALUES (1, N'Juan García', N'password123', N'juanitobananas@gmail.com')
INSERT [dbo].[usuarios] ([id], [nombre], [password], [email]) VALUES (2, N'Antonio López', N'password456', N'antonito@gmail.com')
INSERT [dbo].[usuarios] ([id], [nombre], [password], [email]) VALUES (3, N'María Suárez', N'password789', N'marialollipop@gmail.com')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_evento]    Script Date: 27/03/2026 13:18:28 ******/
ALTER TABLE [dbo].[eventos] ADD  CONSTRAINT [UQ_evento] UNIQUE NONCLUSTERED 
(
	[titulo] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_galeria]    Script Date: 27/03/2026 13:18:28 ******/
ALTER TABLE [dbo].[galeria] ADD  CONSTRAINT [UQ_galeria] UNIQUE NONCLUSTERED 
(
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_email]    Script Date: 27/03/2026 13:18:28 ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[favoritos]  WITH CHECK ADD  CONSTRAINT [FK_favorito_evento] FOREIGN KEY([idEvento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favoritos] CHECK CONSTRAINT [FK_favorito_evento]
GO
ALTER TABLE [dbo].[favoritos]  WITH CHECK ADD  CONSTRAINT [FK_favorito_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[favoritos] CHECK CONSTRAINT [FK_favorito_usuario]
GO
ALTER TABLE [dbo].[galeria]  WITH CHECK ADD  CONSTRAINT [FK_galeria_evento] FOREIGN KEY([idEvento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[galeria] CHECK CONSTRAINT [FK_galeria_evento]
GO
ALTER TABLE [dbo].[imagenes]  WITH CHECK ADD  CONSTRAINT [FK_imagenes_galeria] FOREIGN KEY([idGaleria])
REFERENCES [dbo].[galeria] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[imagenes] CHECK CONSTRAINT [FK_imagenes_galeria]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [CK_email] CHECK  (([email] like '%@%.%'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [CK_email]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [CK_password] CHECK  ((len([password])>=(8)))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [CK_password]
GO
USE [master]
GO
