<!--Header con menú global como archivo HTML para importarlo con JS-->
<header class="bg-white sticky top-0 z-50 border-b-8 border-corporativo">
    <div class="max-w-5xl mx-auto px-2 py-4 flex items-center">
        <!--Logo-->
        <a href="index.html" class="flex items-center text-4xl font-bold text-gray-800 no-underline">
            <span class="font-asenine">HAPPINESS</span>
            <!--Símbolo animado con la clase animacionLogo (&#38 es el código HTML para el símbolo &)-->
            <span class="font-archistry text-5xl mx-1 animate-animacionLogo">&#38;</span>
            <span class="font-asenine">CO</span>
        </a>
        <!-- Menú principal con nav-->
        <!--Objetos en flex centrados. Fuente en negro y con hover en corporativo y subrayado con hover b2-->
        <nav class="flex gap-6 text-[22px] font-medium ml-auto">
            <a href="index.html" class="border-b-2 border-transparent hover:text-corporativo hover:border-corporativo pb-1 transition-colors">Inicio</a>
            <a href="pages/ProximosEventos.html" class="border-b-2 border-transparent hover:text-corporativo hover:border-corporativo pb-1 transition-colors">Eventos</a>
            <a href="pages/HistorialDeEventos.html" class="border-b-2 border-transparent hover:text-corporativo hover:border-corporativo pb-1 transition-colors">Historial de Eventos</a>
            <a href="pages/SobreNosotros.html" class="border-b-2 border-transparent hover:text-corporativo hover:border-corporativo pb-1 transition-colors">Sobre Nosotros</a>
            <a href="pages/Fuentes.html" class="border-b-2 border-transparent hover:text-corporativo hover:border-corporativo pb-1 transition-colors">Fuentes</a>
            <a href="pages/Contacto.html" class="border-b-2 border-transparent hover:text-corporativo hover:border-corporativo pb-1 transition-colors">Contacto</a>
        </nav>
    </div>
</header>