<!--Header con menú global como archivo HTML para importarlo con JS-->
<header class="bg-white border-b-8 border-corporativo">
    <div class="max-w-5xl mx-auto px-2 py-4 flex items-center">
        <!--Logo-->
        <a href="#" class="flex items-center text-4xl font-bold text-gray-800 no-underline">
            <span class="font-asenine">HAPPINESS</span>
            <!--Símbolo animado con la clase animacionLogo (&#38 es el código HTML para el símbolo &)-->
            <span class="font-archistry text-5xl mx-1 animate-animacionLogo">&#38;</span>
            <span class="font-asenine">CO</span>
        </a>
        <!-- Menú principal con nav-->
        <!--Objetos en flex centrados. Fuente en negro y con hover en corporativo y subrayado con hover b2-->
        <nav class="flex gap-6 text-[22px] font-medium ml-auto">
            <a href="#" class="text-corporativo font-bold border-b-2 border-corporativo pb-1">Inicio</a>
            <a href="ProximosEventos.html" class="hover:text-corporativo hover:border-b-2 hover:border-corporativo pb-1">Eventos</a>
            <a href="HistorialDeEventos.html" class="hover:text-corporativo hover:border-b-2 hover:border-corporativo pb-1">Historial de Eventos</a>
            <a href="SobreNosotros.html" class="hover:text-corporativo hover:border-b-2 hover:border-corporativo pb-1">Sobre Nosotros</a>
            <a href="Fuentes.html" class="hover:text-corporativo hover:border-b-2 hover:border-corporativo pb-1">Fuentes</a>
            <a href="Contacto.html" class="hover:text-corporativo hover:border-b-2 hover:border-corporativo pb-1">Contacto</a>
        </nav>
    </div>
</header>